@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card {
  font-family: sans-serif;
  position: relative;
  width: 250px;
  height: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  line-height: 200px;
  
